[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.7.1"
ccy = "==1.0.0"
certifi = "==2024.7.4"
django = "==2.2.4"
django-debug-toolbar = "==3.2.4"
django-sniplates = "==0.6.0"
django-tastypie = "==0.14.2"
markdown2 = "==2.5.5"
mwparserfromhell = "==0.5.4"
numpy = "*"
psycopg2-binary = "*"
pyparsing = "==2.4.0"
python-dateutil = "==2.8.0"
python-mimeparse = "==1.6.0"
pytz = "==2019.1"
scipy = "*"
soupsieve = "==1.8"
sqlparse = "==0.5.4"
django-six = "*"
six = "==1.17.0"
setuptools = "==78.1.1"

[dev-packages]

[requires]
python_version = "3.12"
